/* PublicStoryBar.module.css */

.storyBarContainer {
  background-color: #020202;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #ffffff08;
  transition: all 0.3s ease-in-out;
}

.storyBarContainer:hover {
  border-color: #00aaff91;
}

.storiesScroller {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 0 16px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  width: 100%;
  padding: 8px;
}

.storiesScroller::-webkit-scrollbar { display: none; }

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(30, 30, 30, 0.8); /* Koyu tema buton */
  border: 1px solid #444;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  color: #fff;
  transition: all 0.2s;
}

.navButton:hover { background-color: #00aaff; border-color: #00aaff; }
.navButtonLeft { left: 0; }
.navButtonRight { right: 0; }

@media (max-width: 768px) {
  .navButton { display: none; }
}

.storyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  flex-shrink: 0;
  width: 72px;
}

/* Sadece item hover durumunda span rengi değişir */
.storyItem:hover .username {
  color: #fff;
}

.avatarWrapper {
  position: relative;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Avatar hover animasyonu */
  transition: transform 0.3s ease-in-out;
}

/* Sadece avatarWrapper hover olduğunda büyür */
.avatarWrapper:hover {
  transform: scale(1.1);
}

.gradientRing {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2px;
}

.avatarInner {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 500;
}

.username.seen {
  color: #777;
}
