.page {
  display: flex;
  height: 100vh;
  width: calc(100% - 80px);
  background-color: var(--color-black);
  color: var(--color-white);
  overflow: hidden;
  margin-left: 80px;
}

.leftBar {
  width: 300px;
  overflow-y: auto;
}

.chat {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.rightBar {
  width: 320px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
