.messages_box {
  display: block;
}

.messages_mobile {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-left: 80px;
}

.messages_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pagecolor);
  width: 100%;
  height: 100vh;
  font-family: var(--font-main);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.messages_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 80px;  
}

@media (max-width: 1200px) {
  .messages_box {
  display: none;
}

.messages_mobile {
  display: block;
  width: 90%;
  height: auto;
}
}

@media (max-width: 1024px) {
  .messages_mobile {
  margin-left: 0;
}
}