.right_sidebar {
  position: fixed;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 100%;
  max-width: 280px;
  height: 95vh;
  background-color: var(--color-white);
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
}

.search_container {
  position: relative;
  width: 100%;
}

.search_input {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  background-color: #f5f5f5;
}

.search_icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-blue);
  font-size: 18px;
}

.messages_widget {
  background-color: var(--color-black);
  border-radius: 15px;
  padding: 16px;
  color: var(--color-white);
  width: 100%;
  height: auto;
}

.messages_widget h3 {
  margin-bottom: 12px;
  font-size: 18px;
}

.message_card {
  display: flex;
  align-items: center;
  background-color: var(--color-dark);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.avatar_wrapper {
  width: 44px;
  height: 44px;
  border: 2px solid #00ff1e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.avatar {
  width: 36px;
  height: 36px;
  background-color: var(--color-white);
  border-radius: 50%;
}


.user_info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  font-size: 14px;
}

.message {
  font-size: 12px;
  color: #ccc;
}

.ad_widget {
  background-color: var(--color-black);
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.ad_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media (max-width: 1024px) {

  .right_sidebar {
    display: none;
  }

}
