.right_sidebar {
  position: fixed;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 100%;
  max-width: 280px;
  height: 95vh;
  background-color: var(--color-black); 
  border-left: 1px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
  box-shadow: -2px 0 10px rgba(0, 191, 255, 0.538);
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
}

.search_container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.search_input {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border-radius: 12px;
  border: 1px solid #d7d7d7; 
  font-size: 14px;
  outline: none;
  background-color: #222;
  color: #fff;
}

.search_input::placeholder {
  color: #aaa;
}

.search_icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-blue);
  font-size: 18px;
}

.messages_widget,
.ad_widget {
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 16px;
  color: #fff;
  width: 100%;
  height: auto;
  border: 1px solid #333;
}

.messages_widget h3,
.ad_widget h3 {
  margin-bottom: 12px;
  font-size: 18px;
  color: var(--color-blue);
}

.message_card {
  display: flex;
  align-items: center;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.message_card:hover {
  background-color: #333;
  box-shadow: 0 0 10px #00ff2a;
}

.avatar_wrapper {
  width: 44px;
  height: 44px;
  border: 2px solid #00ffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.avatar {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
}

.user_info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

.message {
  font-size: 12px;
  color: #aaa;
}

.ad_widget {
  overflow: hidden;
  cursor: pointer;
}

.ad_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ad_image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00ffff;
}

@media (max-width: 1024px) {
  .right_sidebar {
    display: none;
  }
}