/* DescriptionModal.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  backdrop-filter: blur(5px);
  padding: 20px;
}

.modalContent {
  background: #000000;
  color: #f0f0f5;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 140, 255, 0.3);

  position: relative;
  max-width: 600px;
  width: 90%;
  max-height: 80vh; /* modalın yüksekliğini ekranın 80%'i ile sınırlıyoruz */
  overflow: hidden; /* modalın dışına taşmayı engelle */
  display: flex;
  flex-direction: column; /* üstte kullanıcı bilgisi, altta açıklama */
  animation: scaleIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  color: #ff0000;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: color 0.2s, background 0.2s;
}

.closeButton:hover {
  color: #fff;
  background: rgba(0, 110, 255, 0.2);
}

/* Kullanıcı Bilgisi */
.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.userAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  flex-shrink: 0;
}

.userInfoText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.userName {
  font-weight: bold;
  font-size: 1.1em;
  color: #ffffff;
}

/* Açıklama Metni */
.fullDescriptionContainer {
  overflow-y: auto;
  padding-top: 7px;
  padding-right: 8px;
  padding-bottom: 20px; /* alt boşluk */
  flex-grow: 1; /* container, kalan tüm alanı kaplasın */
  min-height: 0; /* flex içinde scroll için önemli */
}

.fullDescriptionContainer::-webkit-scrollbar {
  display: none;
}
.fullDescriptionContainer {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.fullDescriptionText {
  line-height: 1.6;
  font-size: 0.95em;
  color: #f0f0f5;
  white-space: pre-wrap;
  word-break: break-word;
}

/* FollowButton */
.followButton {
  margin-left: 15px;
  flex-shrink: 0;
}
