.searchBar {
  display: flex;
  align-items: center;
  background: var(--secondary-bg);
  padding: 10px 14px;
  border-radius: 12px;
  gap: 10px;
  color: var(--color-white);
}

.searchBar input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  width: 180px;
}

.search_icon {
  font-size: 20px;
}