.AddPage {
  height: 100vh;
  width: 100%;
  padding: 1rem;
  overflow-y: auto; /* Değişiklik: Scrollbar'ı etkinleştirir */
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-black);
  position: relative;
}

/* Diğer kurallar aynı kalabilir */
.mainContent {
  margin-left: 80px;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }
}