.feed {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Navigasyon butonları */
.navButton {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  right: 20px;
}

.navButton:hover {
  transform: scale(1.1);
}

.navButton:active {
  transform: scale(0.95);
}

.prevButton {
  top: 35%;
  right: 2rem;
  transform: translateY(25%);
}

.nextButton {
  top: 50%;
  right: 2rem;
  transform: translateY(-25%);
}

/* Mobilde butonları gizle (600px altı) */
@media (max-width: 600px) {
  .navButton {
    display: none;
  }
}
