.storyBar {
  display: flex;
  gap: 16px;
  padding: 10px 30px;
  justify-content: flex-start; /* Center yaparsan scroll sorun çıkabilir */
  align-items: center;
  white-space: nowrap; /* Satır kırma olmasın */
}


.storyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
  cursor: pointer;
  transition: transform 0.3s;
}

.storyItem img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #00ff37;
  object-fit: cover;
  margin-bottom: 6px;
}

.storyItem span {
  font-size: 12px;
  color: #cbd5e1;
  text-align: center;
}

.storyItem:hover {
  transform: scale(1.1);
}
