
.vocentraLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-black);
  overflow: hidden;
  margin-left: 80px;
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 10px;
  overflow: hidden;
}
