.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  background-color: var(--color-white);
  color: var(--color-black);
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.modalHeader {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #333;
  position: relative;
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;  justify-content: center;
}

.backButton:hover {
  background-color: #e4e4e4;
}

.modalTitle {
  flex-grow: 1;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.formContent {
  padding: 1.5rem;
  flex-grow: 1;
  overflow-y: auto;
}

.inputGroup {
  margin-bottom: 1.5rem;
}

.inputGroup label {
  display: block;
  font-size: 0.9rem;
  color: #3d3d3d;
  margin-bottom: 0.5rem;
}

.inputField, .textareaField {
  width: 100%;
  padding: 0.75rem;
  background-color: #ffffff;
  border: 1px solid #ececece7;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
}

.inputField:focus, .textareaField:focus {
  outline: none;
  border-color: #ff0000;
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.2);
}

.textareaField {
  resize: vertical;
}

.errorMessage {
  color: #ff5555;
  font-size: 0.9rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.successMessage {
  color: #4CAF50;
  font-size: 0.9rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modalFooter {
  padding: 1rem 1.5rem;
  border-top: 1px solid #333;
  display: flex;
  justify-content: flex-end;
}

.shareButton {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.shareButton:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.shareButton:not(:disabled):hover {
  background-color: #cc0000;
}