.navContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 9999;
  backdrop-filter: blur(12px);
  background: rgba(17, 17, 17, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: none; 
}


@media (max-width: 1024px) {
  .navContainer {
    display: flex;
    justify-content: center;
  }
}

.bottomNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 720px;
  padding: 0 12px;
}

.navLink,
.activeLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d4d4d8;
  font-size: 20px;
  text-decoration: none;
  transition: 0.2s;
}

.activeLink {
  color: var(--color-white);
}

.icon {
  font-size: 20px;
}

.createButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.createIcon {
  color: white;
  font-size: 18px;
}
