.discover {
  background-color: var(--color-black);
  color: var(--color-white);
  margin-left: 80px;
  min-height: 100vh;
  padding-bottom: 70px; /* BottomNav için boşluk bırak */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}



/* Discover.module.css - responsive */

@media (max-width: 1024px) {
  .discover {
    flex-direction: column;
    margin-left: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .discover {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .discover {
    flex-direction: column;
    margin-left: 0;
    gap: 16px;
  }
}
