.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.profilePage_box {
  flex: 1;
  display: flex;
  flex-direction: column; /* ✅ Footer alta sabitlenecek */
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 80px);
  box-sizing: border-box;
  width: 100%;
}

.profilePage_box > footer {
  margin-top: 40px; /* biraz boşluk bırak */
  width: 100%;
}

/* Mobil uyum */
@media (max-width: 1024px) {
  .footerWrapper {
    padding: 10px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
