:root {
  /* === Fontlar === */
  --font-main: "Open Sans", sans-serif;

  /* === Ana Renkler ve Temel Renkler === */
  --text-white: #ffffff;
  --text-stroke: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #ccc;
  --color-gray888: #888;
  --color-green: #1aff00;
  --color-blue: #00aaff;
  --color-secondary-accent: #00bfff;
  --color-text: #e0e0e0;
  --color-offgrey: #1f1f1f;

  /* === Durum Renkleri === */
  --online: #10b981;
  --idle: #f59e0b;
  --busy: #ff0000;

  /* === Arka Plan Renkleri === */
  --bg-main: #0b0b0b;
  --color-dark: #131621;
  --color-dark-bg: #0d1117;
  --background-special: #131621;
  --color-light-bg: #1a202c;
  --secondary-bg: #1a1a1a;
  --color-pagecolor: #000000;

  /* === Efektler ve Blurlar === */
  --blur-circle: rgba(255, 255, 255, 0.15);
  --blur-bg: rgba(255, 255, 255, 0.1);
  --backdrop-filter: blur(16px);
  --blur-size: 45px;
  --hover-bg: rgba(0, 170, 255, 0.08);

  /* === Düğme Renkleri === */
  --gradient-button: linear-gradient(90deg, #13cce9 0%, #00bfff 100%);
  --gradient-button-hover: linear-gradient(90deg, #00aaff 0%, #0088ff 100%);

  /* === Yazı Başlık Efekti === */
  --text-title-gradient: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);

  /* === Özel Arka Planlar (Linear Gradientler) === */
  --special-background: linear-gradient(
    135deg,
    rgba(113, 201, 248, 0.85),
    rgba(168, 225, 255, 0.85),
    rgba(244, 252, 255, 0.85)
  );
  --special-background02: linear-gradient(to top, #09203f 0%, #537895 100%);
  --special-background03: linear-gradient(60deg, #29323c 0%, #485563 100%);
  --special-background04: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
  --special-background05: linear-gradient(-225deg, #22e1ff 0%, #1d8fe1 48%, #625eb1 100%);
  --special-background06: linear-gradient(-225deg, #7742b2 0%, #f180ff 52%, #fd8bd9 100%);
  --special-background07: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
  --special-background08: linear-gradient(135deg, #fafaf5 0%, #c3cfe2 100%);
  --special-background09: linear-gradient(135deg, #d10d14, #cc08ab);
  --special-background10: linear-gradient(135deg, #ff0101, #7a0000);
  --special-background11: linear-gradient(135deg, #56ab2f, #a8e063);
  --special-background12: linear-gradient(135deg, #f12711, #f5af19);
  --special-background13: linear-gradient(135deg, #2193b0, #6dd5ed);
}

.App {
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
}
