.auth_form {
  display: flex;
  flex-direction: column;
  background-color: var(--background-special);
  padding: 30px 20px;
  padding: 30px;
  border-radius: 15px;
  border: 2px solid var(--color-black);
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  color: var(--text-white);
  backdrop-filter: blur(10px);
}

.auth_form:focus-within {
  box-shadow: 0 0 60px rgba(0, 170, 255, 0.4), 0 0 90px rgba(0, 170, 255, 0.2),
    0 0 120px rgba(0, 170, 255, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.auth_form::-webkit-scrollbar {
  width: 2px;
}

.auth_form::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 2px;
}

.auth_form::-webkit-scrollbar-track {
  background: transparent;
}

.auth_form {
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}

.auth_form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 40px;
}

.auth_form label {
  margin-top: 12px;
  font-weight: 600;
  text-align: left;
  width: 100%;
  font-weight: 500;
}

.auth_form input[type="text"],
.auth_form input[type="email"],
.auth_form input[type="password"] {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid rgba(200, 200, 200, 0.5);
  margin-top: 6px;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  transition: all 0.3s ease;
  font-size: 1rem;
  color: var(--color-black);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

.auth_form input:hover {
  border-color: #7abaff;
  box-shadow: 0 0 8px rgba(0, 170, 255, 0.2);
}

.auth_form input:focus {
  outline: none;
  border-color: #00aaff;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.4), 0 0 20px rgba(0, 170, 255, 0.3);
}

/* Input içine yazı varsa */
.auth_form input:not(:placeholder-shown) {
  background: rgb(255, 255, 255);
  font-weight: 500;
}

/* Placeholder */
.auth_form input::placeholder {
  color: rgba(120, 120, 120, 0.7);
  font-style: italic;
}

/* Checkbox alanı */
.checkbox_label {
  margin-top: 14px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Buton */
.auth_form button {
  margin-top: 2rem;
  padding: 12px;
  background: linear-gradient(145deg, #ffffff, #e0f7ff);
  color: #00aaff;
  border: 1px solid #00aaff;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.2);
}

.auth_form button:hover {
  background: #00aaff;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 170, 255, 0.5);
}

.checkbox_label .checkBoxLabel_a {
  color: var(--color-blue);
  text-decoration: underline;
}
